@tabs-height: 40px;
@header-bgc: rgb(29, 34, 39);
@header-text-color: white;
@tabs-bgc: rgb(29, 34, 39);
@panel-bgc: rgb(29, 34, 39);
@editor-bgc: rgb(30, 30, 30);
@terminal-height: 300px;

div {
  box-sizing: border-box;
}
.container {
  width: 100vw;
  height: 100vh;
  display: flex;
  flex-direction: column;
  .header {
    height: 32px;
    width: 100%;
    box-sizing: border-box;
    display: flex;
    justify-content: center;
    align-items: center;
    font-weight: bold;
    background-color: @header-bgc;
    color: @header-text-color;
  }
  .body {
    height: calc(100% - 32px);
    display: flex;
    .leftPanel {
      padding: 8px;
      width: 380px;
      height: 100%;
      overflow-y: scroll;
      background-color: @panel-bgc;
      &::-webkit-scrollbar {
        width: 5px;
      }

      &::-webkit-scrollbar-track {
        background-color: rgb(34, 38, 42);
      }

      &::-webkit-scrollbar-thumb {
        background: #4e4e4e;
        border-radius: 25px;
      }
    }
    .main {
      width: calc(100vw - 380px);
      height: 100%;
      .tabs {
        user-select: none;
        width: 100%;
        height: @tabs-height;
        display: flex;
        justify-content: flex-start;
        align-items: center;
        .tabs_scroll {
          width: 30px;
          height: 100%;
          background-color: @tabs-bgc;
        }
      }
      .editor {
        width: 100%;
        height: calc(100% - @terminal-height - @tabs-height);
        box-sizing: border-box;
        padding: 8px;
        background-color: @editor-bgc;
      }
      .terminal {
        width: 100%;
        height: @terminal-height;
      }
    }
  }
}
